{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}도우미-효도클릭 {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'helper/css/style.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>

  {% block nav %}
  <header class="top-nav">
    <a href="{% url 'helper:waiting' %}" class="logo">효도클릭</a>
  </header>
  {% endblock %}

  {% block content %}{% endblock %}
  {% block extra_js %}{% endblock %}
</body>
</html>